@import url(./button.css);
@import url(./icon.css);
@import url(./input.css);
@import url(./table.css);
@import url(./input-icon.css);

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-transform: none;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-color: initial;
    overflow: hidden;
    font-size: 13px;
    font-family: Notosans;
    font-weight: 400;
    background: #eceef1;
    max-width: 100%;
    position: relative;
}

@font-face {
    font-family: Notosans;
    src: url("../assets/fonts/notosans-regular.2cb88a13.woff2");
}

@font-face {
    font-family: Notosans Italic;
    src: url("../assets/fonts/notosans-italic.1c1aaac9.woff2");
}

@font-face {
    font-family: Notosans Semibold;
    src: url("../assets/fonts/notosans-semibold.df3e6dc4.woff2");
}

@font-face {
    font-family: Notosans Bold;
    src: url("../assets/fonts/notosans-bold.3ede5aff.woff2");
}

#over {
    /* display: none; */
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: 999;
    transition: all 0.3s;
}

#overForm {
    /* display: none; */
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: 10000;
    transition: all 0.3s;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    z-index: 999;

    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    border-bottom: 8px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

a{
    text-decoration: none;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
