table {
    width: 100%;
    background-color: #ffffff;
    box-sizing: border-box;
    border-spacing: 0;
}

.table-th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #e5e8ec;
}

.table-th,
.table-td {
    padding: 0 16px;
    text-align: left;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-th{
    height:34px;
    border-right: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
}

.table-tr, .table-td{
    height:44px;
    border-right: 1px dotted #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
}

.table-checkbox {
    display: flex;
    align-items: center;
}

.table-checkbox>input {
    margin: 0 10px 0 0;
}

.table-sort {
    margin-left: 4px;
    cursor: pointer;
}

.space-right{
    position: sticky;
    right: 0;
    border: 0;
    z-index: 3;
    padding: 0;
    min-width: 16px;
    max-width: 16px;
    width: 16px;
    background: #fff;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

.space-left{
    position: sticky;
    left: 0;
    border: 0;
    z-index: 3;
    padding: 0;
    min-width: 16px;
    max-width: 16px;
    width: 16px;
    background: #fff;
}

.checkbox{
    max-width: 44px;
    position: sticky;
    left: 16px;
    z-index: 2;
    background-color: #fff;
    border-right: 1px dotted #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    padding: 0 10px;
}

.input__checkbox:checked, .input__radio:checked {
    accent-color: #2ca01c;
}

.table-tr .table-td:nth-child(3) {
    position: sticky;
    left: 60px;
    z-index: 2;
    border-right: 1px dotted #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
}

.table-tr .table-td:nth-child(3){
    background-color: #fff;
}

.table-th:nth-child(3) {
    left: 60px;
    z-index: 100;    
}

.employee-table .table-tr:hover .table-td{
    background-color: #e5f3ff;
}

.employee-table .table-tr:hover .table-td:last-child,.employee-table .table-tr:hover .table-td:first-child{
    background-color: #fff;
}

.task{
    border-right: none;
    position: sticky;
    right: 16px;
    z-index: 2;
    border-left: 1px dotted #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    background-color: #fff;
    white-space: pre-wrap;
}

.table-tr:hover .table-td.task button{
    background-color: #e5f3ff;
}

.task>div{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.task button {
    border: none;
    cursor: pointer;
    font-weight: 600;
    position: relative;
    color: inherit;
    display: inline-block;
    white-space: nowrap;
    font-size: 13px;
    line-height: 13px;
    color: #0075c0;
    background-color: #fff;
}

.task-combobox {
    position: absolute;
    height: auto;
    width: auto;
    z-index: 9990;
    transform: translate(-100%);
    transition: opacity .25s, transform .25s, width .3s ease;
    border-radius: 2px;
    border: 1px solid #babec5;
    background-color: #fff;
}

.task-combobox div{
    white-space: nowrap;
    transition: all .2s ease;
    position: relative;
    z-index: 1000;
    text-align: left;
    height: 100%;
    list-style: none;
    min-width: 100px;
    font-weight: 400!important;
    font-size: 13px;
    cursor: pointer;
    padding: 5px 10px;
}

.task-combobox div:hover{
    background-color: #e8e9ec;
    color: #08bf1e;
}

.table-btn__edit {
    padding: 6px 1px 6px 16px;
}

.table-btn__arrow {
    padding: 8px 10px;
    width: 46px;
}

.btn-arrow__icon{
    background: url(../assets/Sprites.5c668001.png) no-repeat -896px -359px;
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
}

.employee-table tr:hover{
    background-color: #e5f3ff !important;
    z-index: 5;
}

thead .checkbox{
    background-color: #e5e8ec ;
    z-index: 4;
    border-right: 1px solid #c7c7c7;
}

thead .task{
    background-color: #e5e8ec;
    z-index: 4;
    border-left: 1px solid #c7c7c7;
}

.table-unresult{
    padding: 20px;
    background-color: #fff;
}


.nodata img{
    position: sticky;
    margin: 50px 50px 30px;
    width: 132px;
    height: 74px;
    left: 45%;
}

.nodata span{
    position: sticky;
    left: 45%;
    padding-left: 20px;
}

.employee-table .selected-row {
    background-color: #e5f3ff !important;
}


.employee-table .selected-row td:first-child{
    background-color: #fff;
}

.employee-table .selected-row td:nth-child(2),
.employee-table .selected-row td:nth-child(3),
.employee-table .selected-row td.task,
.employee-table .selected-row td.task button{
    background-color: #e5f3ff !important;
}

